body {
   background: rgba(48, 14, 64, 0.811); 
    background-size:cover;
    color: rgba(255, 255, 255, 0.811);
    font-family: 'Josefin Sans', sans-serif;
    text-align: justify;
    align-content: center;
}


* {
    margin: 0;
    padding: 0;
}



a {
    transition: 0.7s ease-in-out;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

h1 {
    transition: 2s ease-in-out;
    font-size: 50px;

}

h2 {
    font-family: 'Caveat', cursive;
    font-size: 50px;
    text-align: center;
    margin: 20px;
}

h3 {
    font-family: 'Caveat', cursive;
    font-size: 30px;
    text-align: center;
    margin-top: 60px;
}

/*FUNNY FONT
    font-family: 'Caveat', cursive;
*/

/*HOVERING SECTION*/


.menu ul li a:hover {
            color: #fff;
            text-align: center;
        text-shadow:
            0 0 7px rgb(240, 95, 230),
            0 0 10px rgb(240, 95, 230),
            0 0 21px rgb(240, 95, 230),
            0 0 42px rgb(240, 95, 230),
            0 0 82px rgb(240, 95, 230),
            0 0 92px rgb(240, 95, 230),
            0 0 102px rgb(240, 95, 230),
            0 0 151px rgb(240, 95, 230);

} 



.container h1 {
    display: inline-block;
    text-align: center;
    width: 50%;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    border: 5px dotted rgb(255, 255, 255);
    border-radius: 50px;
    margin: 30px 25% 20px 25%;
    font-family: 'Caveat', cursive;;
    
}

.container h1:hover {
    background-image: linear-gradient(-225deg,
        rgb(226, 25, 62, 0.2),
        rgba(242, 55, 152, 0.2),
        rgba(48, 7, 255, 0.2),
        rgba(7, 234, 254, 0.2)
      );
      text-shadow:
      0 0 7px rgb(240, 95, 230),
      0 0 10px rgb(240, 95, 230),
      0 0 21px rgb(240, 95, 230),
      0 0 42px rgb(240, 95, 230),
      0 0 82px rgb(240, 95, 230),
      0 0 92px rgb(240, 95, 230),
      0 0 102px rgb(240, 95, 230),
      0 0 151px rgb(240, 95, 230);
}


.contacts a:hover {
    color: white;
    text-shadow:
        0 0 7px rgb(240, 95, 230),
        0 0 10px rgb(240, 95, 230),
        0 0 21px rgb(240, 95, 230),
        0 0 42px rgb(240, 95, 230),
        0 0 82px rgb(240, 95, 230),
        0 0 92px rgb(240, 95, 230),
        0 0 102px rgb(240, 95, 230),
        0 0 151px rgb(240, 95, 230);
}

/*END OF HOVERING SECTION*/

/*HEADER*/


.contacts_icons a {
    text-align: right;
    margin: 20px;
    gap: 5px;
}

.container {
    align-self: center;
    align-content: center;
    width: 80%;
    margin: auto;
}


.menu ul {
    display: flex;
    justify-content: space-around;
    gap: 10%;
    list-style: none;
    padding: 20px 0;
    text-decoration: none;
    margin: 10px;
}

.menu ul li a {
    font-size: 20px;
    text-align: center;
}



/*SECTION*/

section img {
    width: 99.5%;
    height: auto;
    border: 3px solid white;;
}

section .text {
    /*border: 2px solid white;
    background-color: rgba(245, 6, 241, 0.296);*/
    color: rgb(255, 255, 255);
    margin: 30px 0 10px;
}

.container_section {
    width: 80%;
    margin: 20px auto 0 auto;
    font-family: 'Caveat', cursive;
    font-size: 30px;
}

/*FOOTER*/

footer {
    text-align: center;
    margin: 80px 10px 40px;
}

.contacts {
    border: 5px solid white;
    border-radius: 104px;
    margin: auto auto 40px;
    padding: 15px;
    width: 20%;
}


.contacts i {
    font-size: 18px;
    color: rgb(255, 255, 255);    
    margin: 5px 0px 10px 0px;
}

.contacts a {
    display: block;
    font-size: 22px;
    color: rgb(255, 255, 255);
    transition: 1s ease-in-out;
    text-decoration: none;
    margin: 50 0 5px;
}


.copyright {
    margin-top: 20px;
    
}


/*RESPONSIVE*/

@media screen and (max-width: 500px) { /*BREAKPOINT PRO RESPONSIVE ZOBRAZENI - pokud uživatel zmenší šířku zobrazení pod 500px, obrázky se zobrazení ve 100%*/
    .menu ul li a {
        word-wrap: break-word;
    }
}


@media screen and (max-width: 700px) { /*BREAKPOINT PRO RESPONSIVE ZOBRAZENI*/
    .contacts {
        max-width: 100px;
        min-width: 100px;
        display: flex;
        word-wrap: break-word;
        flex-direction: column;
        font-size: initial;
        box-sizing: none;
    }
}

/* ICONS NEXT TO THE TEXT FROM BOTH SIDES
.block {
    display: flex;
    margin: auto;
    width: 50%;
}
.block .fa-regular {
    font-size: 40px;
}
.block i {
    margin-left: 20px;
}
*/